<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKCK</title>
</head>

<body>
    <!-- <div style="margin-left: 130px;">
        <table>
            <tr>
                <td>
                    <img src="assets/img/madiun.gif" alt="" class="logo">
                </td>
            </tr>
        </table>
    </div>
    <p style="padding-top: 4pt;padding-left: 162pt;text-indent: 0pt;line-height: 148%;text-align: center;">asd</p> -->
    <table width="100%">
        <tr>
            <td width="25" align="center"><img src="http://localhost/prosideska/assets/img/madiun.gif" width="100%"></td>
            <td width="25" align="center">
                <p>Pemerintah Kabupaten Madiun</p>
                <p>Kecamatan Kebonsari</p>
                <h4>DESA SIDOREJO</h4>
                <p>Jl Dr. Soetomo RT. 017 RW. 008</p>
                <h5><u>SIDOREJO 63173</u></h5>
            </td>
            <td width="50" align="center">
                <!-- <img src="assets/img/madiun.gif" width="10%"> -->
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table width="100%">
        <tr>
            <td width="25" align="center"></td>
            <td width="25" align="center">
                <h5><u>Surat Keterangan</u></h5>
                <p>Nomor : 331 / 34 / 402.305.10 / 2020</p>
            </td>
            <td width="50" align="center">
                <!-- <img src="assets/img/madiun.gif" width="10%"> -->
            </td>
        </tr>
    </table>

</body>

</html>